@use './variables';

.hero {
    padding-top: 220px;
    padding-bottom: 100px;
    background-image: url(../images/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;

    .container {
        position: relative;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: variables.$secondaryTextColor;
        opacity: 0.7;
    }

    &__text {
        margin-top: 120px;
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 56px;
        font-weight: 800;
        text-align: center;
        color: variables.$textColor;
    }

    @media (min-width: 641px) and (max-width: 1023px) {
        padding-top: 120px;
        padding-bottom: 80px;

        &__logo {
            height: 64px;
            max-width: 60%;
        }

        &__text {
            font-size: 28px;
            line-height: 36px;
            margin: 40px 0;
        }
    }

    @media (max-width: 640px) {
        padding: 40px 0;

        background-position: center;

        &__logo {
            height: 40px;
        }

        &__text {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    }
}